.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  text-align: center;
}

.inner-div{
  margin:0 auto;
  margin-top:8%;
  width:50%;
  background-color: rgba(7, 94, 109, 0.452);
  border: 5px solid rgb(1, 1, 2);
  border-radius:15px;
  padding-bottom: 20px;
  box-shadow: 10px 8px 2px 1px rgba(0, 0, 0, 0.212);
}

.item-div{
  
  margin:0 auto;
  margin-top:20px;
  display: flex;
  background-color:skyblue;
  padding:5px;
  margin-bottom: 25px;
  padding:0;
  width:90%;
  /* border: 3px solid rgb(255, 30, 0); */
  box-shadow: 10px 8px 2px 1px rgba(0, 0, 0, 0.212);
  border-radius: 20px;
  overflow: hidden;
}

.deleteTodos{
  display:none;
} 

.item-div:hover .deleteTodos{
  display:flex;
  color:white;
  font-size:4vw;
  /* padding:0px; */
  background-color:red;
  border-radius: 25px 0px 0px 25px;
  max-width:20%;
  
}

.Form{
  position: relative;
  left:33%
}

.todoItems{
  background-color:skyblue;
  text-align:center;
  position:relative;
  left:10px;
  max-height: 20px;
}
 



